In [1]:
import pandas as pd

df = pd.read_csv("./Dataset.csv")
df.drop(["free sulfur dioxide", "total sulfur dioxide"], axis=1, inplace=True)

NUM_FEATURES = df.values.shape[1]-1

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide (norm),total sulfur dioxide (norm),pH,sulphates,alcohol,quality
0,7.2,0.34,0.32,2.5,0.09,3.00,1.81,3.32,0.79,11.1,5.0
1,8.2,0.34,0.37,1.9,0.06,3.00,0.95,3.23,0.81,12.0,6.0
2,7.5,0.59,0.22,1.8,0.08,3.00,0.64,3.10,0.42,9.2,5.0
3,7.9,0.52,0.26,1.9,0.08,2.89,2.41,3.23,0.54,9.5,5.0
4,10.0,0.26,0.54,1.9,0.08,2.89,0.95,2.98,0.63,11.8,8.0

In [2]:
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(df.values[:, :-1], df.values[:, -1], \
                                                      random_state=13, stratify=df.values[:, -1])
print(x_train.shape, x_valid.shape, y_train.shape, y_valid.shape)

((1175, 10), (392, 10), (1175,), (392,))

In [3]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [4]:
neigh.score(x_valid, y_valid)

0.56377551020408168

In [5]:
from sklearn.metrics import confusion_matrix

predictions = neigh.predict(x_valid)
classes = [3, 4, 5, 6, 7, 8]

pd.DataFrame(confusion_matrix(y_valid, predictions, labels = classes), columns = classes, index = classes)

   3  4    5   6   7  8
3  0  1    0   1   0  0
4  0  2    6   5   0  0
5  1  4  118  40   3  0
6  1  3   51  86  17  0
7  0  0   11  22  15  0
8  0  0    1   1   3  0